<html>
<head></head>

<body>

<form action="/add-trip" method="POST">
  <input type="text" name="tripTitle" placeholder="Title" />
  <input type="text" name="tripImage" placeholder="Image" />
  <input type="text" name="tripDate_Departure" placeholder="date_departure" />
  <input type="text" name="tripDate_return" placeholder="date_return" />
  <button type="submit">Save</button>
</form>

</body>

</html>
